<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/welcome_style.css" />
    <title>Crypto Dashboard</title>
  </head>
  <body>
    <div class="loginBox"> <img class="user" src="https://img.etimg.com/thumb/msid-89705853,width-650,imgsize-44124,,resizemode-4,quality-100/crypto.jpg" height="100px" width="100px">
        <h3>Welcome to NoToFOMO's Crypto Dashboard!</h3>
        <form action="/json_generator" method="post">
            <div class="inputBox"> <input id="uname" type="text" name="Username" placeholder="Username"> <input id="pass" type="password" name="Password" placeholder="Password"> </div> <input type="submit" name="" value="Login">
        </form>
        <a> Incorrect Username or Password<br> </a>


    </div>